#game {
  background: white;
  width: 600px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid black;
}

#ball {
  background: grey;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 290px;
  top: 140px;
  border-radius: 10px;
  border: 1px solid black;
}

  #pabbieA {
  background: grey;
  position: absolute;
  width: 20px;
  height: 70px;
  left: 20px;
  top: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
#pabbieB {
  background: grey;
  position: absolute;
  width: 20px;
  height: 70px;
  left: 555px;
  top: 10px;
  border-radius: 10px;
  border: 1px solid black;
}




